.resultado {
    padding: 10px;
    border-bottom: 1px #000 solid;
}

.resultado:hover {
    cursor: pointer;
    border-color: #fce;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
}