<div class="container-fluid">
  <div class="card mt-2 mb-2 p-1">
    <div class="card-body">
      <h3 class="card-title">
        Busqueda
      </h3>
      <div class="row">
        <input type="text" class="form-control col-9" name="query" placeholder="Busqueda de productos">
        <button class="btn btn-primary flot-right col-2 ml-1"><i class="fa fa-search"></i> Buscar</button>
      </div>
      <!-- Div resultados -->
      <div class="resultado">
        Carr
      </div>
    </div>
  </div>
</div>